/// 타이포 관련 변수, 믹스인 전체
@import "../abstracts/var";
@import "../abstracts/mixins";

// Noto Sans
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

// Noto Sans Weight
$Regular: 400;
$Thin: $Regular - 300;
$Light: $Regular - 100;
$Medium: $Regular + 100;
$Bold: $Regular + 200;
$Black: $Regular + 400;

$FontSize: 15px;

// Font Color, Weight include
@mixin font-style ($fontColor, $fontWeight, $fontSize) {
  color: $fontColor;
  font-weight: $fontWeight;
  font-size: $fontSize;
}

body {
  font-family: 'Noto Sans Korean', 'san-serif';
  letter-spacing: -0.025em;
  line-height: 1.7;
  @include font-style ($BK, $Light, $FontSize);
  b {
    font-weight: $Medium;
  }
}

// ex style
h2 {
  @include font-style ($BK, $Regular, $FontSize + 19px);
  span {
    color: $Accent; //색상변경 클래스 추가할 때
  }
}

.caption {
  @include font-style ($BKsub, $Regular, $FontSize - 1px);
}
