/// 폰트스타일 제외 유용한 변수는 여기에 추가
// Website Color
$colorOpacity: 1 - 0.46;

$BK: rgba(0, 0 ,0, 0.87);
$BK: rgba(0, 0 ,0, 0.87) !default;
$BKsub: rgba($BK, $colorOpacity);
$BKsub: rgba($BK, $colorOpacity) !default;
$WH: rgba(255, 255, 255, 1);
$WHsub: rgba($WH, $colorOpacity);

// Primary Color
$Primary: rgba(49, 62, 102, 1);
$PrimarySub: rgba($Primary, $colorOpacity);
$PrimaryDarken: darken($Primary, 5%) ;

// Accent Color
$Accent: rgba(3, 155, 229, 1);
$AccentSub: rgba($Accent, $colorOpacity);
$AccentDarken: darken($AccentSub, 5%);

// Noto Sans Weight
$Regular: 400;
$Thin: $Regular - 300;
$Light: $Regular - 100;
$Medium: $Regular + 100;
$Bold: $Regular + 200;
$Black: $Regular + 400;
// CJK Basic font size
$FontSize: 15px;

// Transform 50%
$MiddleX: translateX(-50%);
$MiddleY: translateY(-50%);
$MiddleXY: translate(-50%, -50%);

// max layout
$Gutter: 16px; //기본 사이값
$ColumnWidth: 88px; //디자인상 콜럼 가로크기
$Contain: $ColumnWidth * 12 + $Gutter * 24;

// Media query base bootstrap
$xs: 768px;
$sm: 992px;
$md: $Contain;
