/// 폰트스타일 제외 유용한 믹스인은 여기에 추가
@import "var";
// clearfix
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// Transform
@mixin translate ($translate) {
  transform: $translate;
  -o-transform: $translate;
  -ms-transform: $translate;
  -moz-transform: $translate;
  -webkit-transform: $translate;
}

// Background image common
@mixin bg-cover {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
