/// 타이포 관련 변수, 믹스인 전체

// spoqa
// <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
// <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
// * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

// Noto Sans
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

body {
  font-family: 'Inconsolata', monospace;
  // font-family: 'Noto Sans Korean', 'san-serif';
  letter-spacing: -0.025em;
  line-height: 1.7;
  @include font-style ($BK, $Light, $FontSize);
  b {
    font-weight: $Medium;
  }
}

// ex style
h2 {
  @include font-style ($BK, $Regular, $FontSize + 19px);
  span {
    color: $Accent; //색상변경 클래스 추가할 때
  }
}

.caption {
  @include font-style ($BKsub, $Regular, $FontSize - 1px);
}
